<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 Mac Screen Capture. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>此应用需要访问麦克风来录制音频。</string>
	<key>NSCameraUsageDescription</key>
	<string>此应用需要访问摄像头来录制视频。</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>此应用需要访问桌面文件夹来保存截图和录制文件。</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>此应用需要访问文档文件夹来保存截图和录制文件。</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>此应用需要访问下载文件夹来保存截图和录制文件。</string>
	<key>NSScreenCaptureDescription</key>
	<string>此应用需要屏幕录制权限来进行截图和录屏功能。</string>
	<key>LSUIElement</key>
	<false/>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
</dict>
</plist>